[submodule "server/member"]
	path = server/member
	url = https://github.com/kyeong8139/git-check.member.git
[submodule "server/report"]
	path = server/report
	url = https://github.com/kyeong8139/git-check.report
[submodule "server/ai"]
	path = server/ai
	url = https://github.com/kyeong8139/git-check.ai
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/kyeong8139/git-check.api-gateway.git
